{% load staticfiles %}
{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<div class="header">
  <a href="{% url 'webapp:home' %}">
    <img src="https://imgur.com/5mz2wC1.png" class="logo" href=#></img></a>
     <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->

    <div class="header-right">
      <a href="{% url 'webapp:home' %}">Home</a>
      <a href="{% url 'webapp:skills' %}">Skills</a>
      <a href="{% url 'webapp:portfolio' %}">Portfolio</a>
      <a href="{% url 'webapp:tips' %}">Tips</a>
      <a href="{% url 'webapp:form' %}">Register</a>
      <a href="{% url 'webapp:activity' %}">Schedule</a>
    </div>
</div>