{% load staticfiles %}
{%load static%}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css">
<!--<html lang="en">-->


    <title>Register</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
  {% include "partials/header.html" %}
</header>

<body>


<div class="container" style="max-width: 500px">
  <h2 style="text-align: center; font-family: 'Montserrat'; font-size: 36px">Register Account</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" placeholder="Enter name" name="name">
    </div>
    <div class="form-group">
      <label for="birthdate">Birth Date:</label>
      <input type="date" class="form-control" id="date" placeholder="Enter birthdate" name="birthdate">
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="username" class="form-control" id="username" placeholder="Enter username" name="nuserame">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div class="form-group">
      <label for="pwd-repeat">Repeat password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Repeat password" name="pwd-repeat">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember">Remember me</label>
    </div>
    <button type="submit" class="btn btn-default" style="margin-bottom: 50px; background-color: #21BADC; font-family: 'Montserrat'">Submit</button>
  </form>
</div>

</body>
</html>

