{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
<head>

<title>Bang</title>

<link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css">
  <style type=”text/css”> 
  </style> 
 
<!-- Font-->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>


<!-- CSS Header-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Header-->

<!-- CSS Profile-->

<!-- CSS Gallery footer-->
</head>
<header>
  {% include "partials/header.html" %}
</header>
<body>

<!-- Header 
<div class="header">
  <a href="/home">
    <img src="https://imgur.com/5mz2wC1.png" class="logo" href="bang2.html"></img></a>

    <div class="header-right">
      <a class="active" href="#home">Home</a>
      <a href="/skills/">Skills</a>
      <a href="/portfolio/">Portfolio</a>
      <a href="/tips/">Tips</a>
      <a href="/form/">Register</a>
    </div>
</div>
-->

<!--
<div style="padding-left:20px">
  <h1>Responsive Header</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>Some content..</p>
</div>
-->

<!-- Profile -->

<h2 style="text-align: center;"><b>Profile</b></h2>

<div class="card">
  <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/40987244_2051814751496829_6527488229854150656_n.jpg?_nc_cat=0&oh=6c47f2084bf646631293ab8ebb6aef70&oe=5C22D185" alt="abang" style="width:100%">
  <h1>Siti Aulia Rahmatussyifa</h1>
  <p class="npm">Jakarta, Indonesia</p>
  <desc style="font-size:80%;">I'm a student and passionate about travel. Enthusiast about sport, music, and photography.</desc>
  <div style="margin-top: 10px;"> 
    <a href="http://twitter.com/sarsyifa" target="_blank"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/5d3d780bc5f54281a95161f21bc6f343?quality=95&fake=.png" alt="twitter" style="width:12%"></a>
    <a href="https://plus.google.com/u/0/106198580709783861549" target="_blank"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/c3c9ce5e47514cbe82e7aa3aee4e6637?quality=95&fake=.png" alt="g+" style="width:12%"></a>   
    <a href="http://facebook.com/sar.syifa" target="_blank"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/3ae1d17d4900438881f4eda63cd50553?quality=95&fake=.png" alt="fb" style="width:12%; transform: translate(5%);"></a</a>
    <a href="http://instagram.com/sarsyifa" target="_blank"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/fb23d13f1beb45f8b2efb5df183e1029?quality=95&fake=.png" alt="ig+" style="width:10%"></a</a>  
  </div>

 <p><button><a href="mailto:sarsyifa@gmail.com" style="color: #47525E">Contact Me</a></button></p>
</div>


<!-- The four columns
<div class="row">
  <div class="column">
    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/41462103_2058283280849976_4046114477098139648_o.jpg?_nc_cat=0&oh=fe463e19efac5bd8d12bba84e5d0b2e2&oe=5BEF03C3" alt="Bandung" style="width:100%" onclick="openFoto(this);">
  </div>
  <div class="column">
    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t31.0-8/12247809_1067221403289507_6870572139527682517_o.jpg?_nc_cat=0&oh=8965c7690aa0684a10f75c8917fd56af&oe=5C1F763D" alt="Belitung" style="width:100%" onclick="openFoto(this);">
  </div>
  <div class="column">
    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t31.0-8/12646623_10204312370888396_5212380856309580000_o.jpg?_nc_cat=0&oh=f811f96c1da1d4347c9fab973249db00&oe=5C22BA08" alt="Madura" style="width:100%" onclick="openFoto(this);">
  </div>
  <div class="column">
    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/41363477_2058283454183292_7115979520561119232_o.jpg?_nc_cat=0&oh=a49fc9f900652043d87b27881217b2d6&oe=5C2B717B" alt="Bogor" style="width:100%" onclick="openFoto(this);">
  </div>
</div>

<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>

<script>
function openFoto(imgs) {
    var expandImg = document.getElementById("expandedImg");
    var imgText = document.getElementById("imgtext");
    expandImg.src = imgs.src;
    imgText.innerHTML = imgs.alt;
    expandImg.parentElement.style.display = "block";
}
</script>
-->

</body>

</html>
