{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>

	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1" >

	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>

	<style >
		p {
			font-size: 15px;
			max-width: 400px;
		}

	</style>
</head>	

	<body class="container-fluid">

		<!-- reuse navbar -->
	 	<header>
	 		{% include "partials/header.html" %}
	 	</header>

	 	{% block content %}
		

		<div class = "container p-5">
			<h3 style="font-family: 'Montserrat'">Your schedule</h3>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>Name</th>
						<th>Location</th>
						<th>Category</th>
						<th>Date</th>
						<th>Time</th>
					</thead>
					<tbody>
						{% for e in events %}
						<tr>
							<td>{{e.kegiatan}}</td>
							<td>{{e.location}}</td>
							<td>{{e.category}}</td>
							<td>{{e.tanggal|date:"l, j F Y"}}</td>
							<td>{{e.waktu|date:"H:i"}}</td>

							<!-- <td>{{e.date|date:"l, j F Y"}}</td>
							<td>{{e.time|date:"H:i"}}</td> -->
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<div class = "container p-5">
			<h3 style="font-family: 'Montserrat'">Add new event</h3>
			<form method="POST">
				{% csrf_token %}
				{{ abang|crispy }}
				<br>
				<button type="submit" class="btn btn-primary">Add event</button>
			</form>
			<br>
			<form method="POST" action="{% url 'webapp:deleteall' %}">
			{% csrf_token %}
			<button type="submit" class="btn btn-primary">Delete all event</button>	
			</form>

		</div>


		

		{% endblock %}
	</body>



	</body>
</html>
