{% load staticfiles %}
{%load static%}
<!DOCTYPE html>
<html>
<head>
<link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css">
  <style type=”text/css”> 
  </style> 

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<title>Portfolio</title>
<!-- CSS Header-->
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
  {% include "partials/header.html" %}
</header>

<body>

<div style="text-align:center">
  <h2 style="color: #47525; font-family:Montserrat;">Portfolio</h2>
  <p style="font-family: 'Montserrat'; color: #47525E; text-align: center;">Click on the images below:</p>
</div>

<!-- The four columns -->
<div class="row">
  <div class="column">
    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/41462103_2058283280849976_4046114477098139648_o.jpg?_nc_cat=0&oh=fe463e19efac5bd8d12bba84e5d0b2e2&oe=5BEF03C3" alt="Bandung" style="width:100%" onclick="openFoto(this);">
  </div>
  <div class="column">
    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t31.0-8/12247809_1067221403289507_6870572139527682517_o.jpg?_nc_cat=0&oh=8965c7690aa0684a10f75c8917fd56af&oe=5C1F763D" alt="Belitung" style="width:100%" onclick="openFoto(this);">
  </div>
  <div class="column">
    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t31.0-8/12646623_10204312370888396_5212380856309580000_o.jpg?_nc_cat=0&oh=f811f96c1da1d4347c9fab973249db00&oe=5C22BA08" alt="Madura" style="width:100%" onclick="openFoto(this);">
  </div>
  <div class="column">
    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/41363477_2058283454183292_7115979520561119232_o.jpg?_nc_cat=0&oh=a49fc9f900652043d87b27881217b2d6&oe=5C2B717B" alt="Bogor" style="width:100%" onclick="openFoto(this);">
  </div>
</div>

<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>

<script>
function openFoto(imgs) {
    var expandImg = document.getElementById("expandedImg");
    var imgText = document.getElementById("imgtext");
    expandImg.src = imgs.src;
    imgText.innerHTML = imgs.alt;
    expandImg.parentElement.style.display = "block";
}
</script>

</body>
</html>
