
/* header */
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: 'Montserrat';/*Arial, Helvetica, sans-serif;*/
}

.header {
  overflow: hidden;
  background-color: white; /* #f1f1f1 */
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #21BADC;
  color: black;
}

.header a.active {
  background-color: #21BADC;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* profile */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat';
}

.npm {
  color: #1E87D8;
  font-size: 18px;
  font-family: 'Fira Sans';
  text-align: center;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #21BADC;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-family: Ubuntu;
  
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


* {box-sizing: border-box;}

.containertxt{
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

/* gallery footer */
body {
    margin: 0;
    font-family: 'Montserrat';
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container{
    position: relative;
    /*display: none;*/
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}


/* content profile */
h1 {
  color: black;
    text-align: center;
    font-family: 'Montserrat';
}
h2  {
    color: MidnightBlue;
    font-family: 'Arvo';
      

}

h3{
  font-family: 'Lato';
}

p {
  font-family: 'Lato';
  text-align: justify;
}


.content {
    max-width: 800px;
    margin: auto;
}


/* column txt */
/* Create two equal columns that floats next to each other */
.columntxt{
    float: left;
    width: 50%;
    padding: 15px;
    flex-wrap: wrap;
    content: auto;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



